.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.56px;

  &--required {
    &::after {
      content: '必須';
      color: #ec0000;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0.24px;
      margin-left: 8px;
    }
  }
}
