.container {
  margin: 84px 24px;

  .name-box {
    margin: 48px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .gender-age-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    &__gender {
      &-title {
        display: inline-block;
        margin-bottom: 8px;
      }
    }

    &__age {
      width: 19px;
      height: 32px;
      font-size: 16px;
      padding: 12px 32px 12px 16px;
    }
  }

  .button-box {
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    gap: 8px;
  }
}
