.input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__input {
    border-radius: 8px;
    border: 1px solid #1a1a1c;
    padding: 12px 16px;

    &:focus {
      outline: none;
      border: 1px solid transparent;
      box-shadow: 0 0 0 1px #cd820a;
    }
  }

  &__input-invalid {
    border: 2px solid #ec0000;
  }

  &__invalid-message {
    color: #ec0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.24px;
  }
}
